.gray-background {
    background-color: #f0f0f0; /* Color gris claro */
    padding: 20px; /* Espaciado interno para mejorar la apariencia */
    border-radius: 5px; /* Opcional: añade esquinas redondeadas al formulario */
  }
  